<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1>
                {{#link-to 'heroes.profile' character.friendlyName}}
                    {{character.name}}
                {{/link-to}}
            </h1>
        </li>
        <li class="toggle-topbar menu-icon">
            <a>
                <span>Options</span>
            </a>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
                {{#if character.favourite}}
                    <li class="active">
                        <a {{action "removeFavourite" character}}>✔</a>
                    </li>
                {{/if}}
            <li class="has-dropdown">
                <a>Options</a>
                <ul class="dropdown">
                    <li>
                        {{#if character.favourite}}
                            <a {{action "toggleFavourite" character}}>
                                Remove from favourites
                            </a>
                        {{else}}
                            <a {{action "toggleFavourite" character}}>
                                Add to favourites
                            </a>
                        {{/if}}
                    </li>
                    {{#unless hideLinks}}
                        <li>
                            {{#link-to 'heroes.profile' character.friendlyName}}
                                View details
                            {{/link-to}}
                        </li>
                    {{/unless}}
                </ul>
            </li>
        </ul>
    </section>
</nav>
<script>
    $(document).foundation();
</script>